# heaptrack files
heaptrack.*

# genome folder
genomes

# built libraries
libdivsufsort/build/
libcds/includes/*
!lib/includes/delete_me
libcds/tests/*
!libcds/tests/*.cpp
!libcds/tests/*.py
!libcds/tests/Makefile

# logs
*.log

# compiled example
CR_example

# eclipse files
.cproject
.project
.settings

# vim temp files
*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
