# other junk
out
*.data
tmp
build
lib/*
bin/*
gmon.out

# sga files
*.hits.gz
*.asqg.gz

# heaptrack files
heaptrack.*

# genome folder
genomes

# logs
*.log

# compiled example
CR_example

# eclipse files
.cproject
.project
.settings

# vim temp files
*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
